<!-- BARRA SUPERIOR -->
<div class="bg-emerald-600 text-white py-4 px-6 flex justify-between items-center fixed top-0 left-0 w-full shadow-md z-50">
  <div class="flex items-center space-x-4">
    <a href="index.html" class="flex items-center space-x-2">
      <img src="assets/img/logo.png" alt="Logo" class="h-10 w-10 rounded-full">
      <span class="text-xl font-semibold">Bookly</span>
    </a>
  </div>
</div>

<!-- PANTALLA CENTRAL -->
<div class="mt-32 px-8 flex flex-col items-center">
  <h1 class="text-2xl font-bold text-gray-800 underline">Regístrate</h1>

  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <!-- Formulario de Registro -->
      <form class="space-y-6" (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <!-- Campo Username -->
        <div>
          <input id="username" name="username" type="text" required [(ngModel)]="user.username"
                 placeholder="Nombre de usuario"
                 class="block w-full rounded-lg border-0 py-1 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-lg">
        </div>

        <!-- Campo Name -->
        <div class="mt-4">
          <input id="name" name="name" type="text" required [(ngModel)]="user.name"
                 placeholder="Nombre"
                 class="block w-full rounded-lg border-0 py-1 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-lg">
        </div>

        <!-- Campo Lastname -->
        <div class="mt-4">
          <input id="lastname" name="lastname" type="text" required [(ngModel)]="user.lastname"
                 placeholder="Apellido"
                 class="block w-full rounded-lg border-0 py-1 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-lg">
        </div>

        <!-- Campo Email -->
        <div class="mt-4">
          <input id="email" name="email" type="email" required [(ngModel)]="user.email"
                 placeholder="Correo electrónico"
                 class="block w-full rounded-lg border-0 py-1 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-lg">
        </div>

        <!-- Campo Password -->
        <div class="mt-4">
          <input id="password" name="password" type="password" required [(ngModel)]="user.password"
                 placeholder="Contraseña"
                 class="block w-full rounded-lg border-0 py-1 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-lg">
        </div>

        <!-- Botón de Registro -->
        <div class="mt-8">
          <button type="submit"
                  class="rounded-full px-3 py-2 text-sm flex w-full justify-center bg-emerald-600 font-semibold text-white shadow-sm hover:bg-emerald-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600">
            Regístrate
          </button>
        </div>

        <!-- Ir a Iniciar Sesión -->
        <p class="mt-4 text-center text-sm text-gray-600">
          ¿Ya tienes cuenta? 
          <a href="sign-in.html" class="font-semibold text-emerald-600 hover:underline">Inicia sesión aquí</a>
        </p>
      </form>
    </div>
  </div>
</div>
